<!--div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div-->


<div class="container">
  <div id="" class="">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center" >Nosotros</th>
          <th class="text-center" >Ellos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="score-us" class="text-center" ng-drag="true" ng-drag-data="usTeam" ng-drop="true" ng-drop-success="modifyScore($data, $event, 'us')">
            {{ us }}
          </td>
          <td id="score-they" class="text-center" ng-drag="true" ng-drag-data="theyTeam" ng-drop="true" ng-drop-success="modifyScore($data, $event, 'they')"> 
            {{ they }}
          </td>
        </tr>
        <tr>
          <td>
            <div id="" ng-drag="true"  ng-drag-data="point" class="stripes-box text-center" draggable="true"> </div>
          </td>
          <td>
            <div id="" ng-drag="true"  ng-drag-data="pointSub" class="trash-box text-center" draggable="true"> </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>

  <div id="" class="">
    
  </div>

</div>